<!DOCTYPE html>
{% load static %}
<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="https://avatars.mds.yandex.net/i?id=fad3e209504658d777cdb09b91a5a6ac_l-5294444-images-thumbs&n=13" type="image">
    <link rel="apple-touch-icon" sizes="180x180" href="https://avatars.mds.yandex.net/i?id=fad3e209504658d777cdb09b91a5a6ac_l-5294444-images-thumbs&n=13">
    <link rel="icon" type="image/png" sizes="32x32" href="https://avatars.mds.yandex.net/i?id=fad3e209504658d777cdb09b91a5a6ac_l-5294444-images-thumbs&n=13">
    <link rel="icon" type="image/png" sizes="16x16" href="https://avatars.mds.yandex.net/i?id=fad3e209504658d777cdb09b91a5a6ac_l-5294444-images-thumbs&n=13">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
  </head>
  <body>
    {% include "includes/header.html" %}
    <main>
      {% block content %}Контента пока нет :{% endblock %}
    </main>
    {% include "includes/footer.html" %}
  </body>
</html>